.main {
  display: flex;
  flex-direction: column;
  width: 10vw;
  .header {
    font-size: small;
    color: grey;
  }
  .select {
    border: 0;
    border-bottom: 1px solid;
    outline: 0;
    border-bottom: 2px solid rgb(184, 184, 184);
    padding: 3px 0;
  }
}
