.container {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;

  .label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    select {
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      border: none;
      padding: 5px;
      font-size: 16px;
      outline-color: #197de3;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: rgb(225, 225, 225);
      }
    }
    span {
      font-size: 14px;
      color: rgb(184, 184, 184);
      margin-bottom: 5px;
    }
  }
  h1 {
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .fullnameContainer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex: end;

    .fullname {
      width: 550px;
    }
    .select {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      border: none;
    }
  }
  .inputGroups {
    margin: 20px auto;
    padding: 5px;
  }
  .selectGroups {
    margin: 20px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(184, 184, 184);
  }
}
