.container {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  .label {
    padding: 10px;

    select {
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      border: none;
    }
    span {
      font-size: 14px;
      color: rgb(184, 184, 184);
      margin-right: 10px;
    }
  }
  h1 {
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .fullnameContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .fullname {
      width: 550px;
    }
    .select {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      border: none;
    }
  }
  .inputGroups {
    margin: 20px auto;
    padding: 5px;
  }
  .selectGroups {
    margin: 20px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
    border-radius: 5px;
    border-bottom: 2px solid rgb(184, 184, 184);
  }
}
