.FilterBar {
  // background-color: rgb(127, 186, 231);
  max-width: 1100px;
  margin: 10px auto 40px;
  padding: 20px 0px;
  box-sizing: content-box;
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.212);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  // align-items: center;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .dateSelect {
    min-height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      width: 20px;
    }
    * {
      margin: 2.5px 0;
    }
    div:not(:last-of-type) {
      margin-bottom: 10px;
    }

    input {
      &:hover {
        background-color: rgb(225, 225, 225);
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: 600;
        font-size: 18px;
        margin-right: 10px;
      }

      input {
        width: 200px;
        background-color: rgb(240, 240, 240);
        border: 0;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

  .selects {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      span {
        font-size: 14px;
        color: grey;
        margin-bottom: 5px;
      }
    }

    select {
      width: 150px;
      font-size: 16px;
      border: 0;
      background-color: rgb(240, 240, 240);
      padding: 10px;
      min-height: 40px;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      cursor: pointer;
      border-radius: 5px;
      // margin: 5px 0;
      outline-color: #197de3;

      &:hover,
      &:focus {
        background-color: rgb(225, 225, 225);
      }
    }
  }

  .inputs {
    align-items: center;
    justify-content: space-between;

    .filterInput:not(:last-of-type) {
      margin-bottom: 10px;
    }
    .filterInput {
      font-size: 16px;

      input {
        height: 40px;
        padding: 10px;
        border-width: 1px;
        border-radius: 5px;
      }
    }
  }
  .resetButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    * {
      width: fit-content;
      margin: 5px 0;
    }
  }
  // }
}
