.Table {
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 10px 5px;
  box-shadow: 0 6px 18px rgb(0 0 0 / 6%);

  tbody {
    tr {
      &:hover {
        box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 33%);
        cursor: pointer;
        transition: 0.1s linear;
      }
    }
  }

  th {
    padding: 0.5em 1.5em;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
    background: #edf6ff;
    color: black;
    cursor: pointer;
  }

  td {
    padding: 0.4em 1.5em;
    color: black;
    border-bottom: 1px solid #3e4a514f;
  }
}
