.Button {
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;

  &:disabled {
    background-color: rgb(212, 212, 212);
    color: #000;
    cursor: no-drop;

    &:hover {
      background-color: rgb(212, 212, 212);
      color: #000;
    }
  }
}
.categories {
  background: #197de3;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  overflow: hidden;

  &:hover {
    background: #1568bd;
  }
}
.exit {
  background: #d14a4a;
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    background: #ac3030;
  }
}

.enter {
  background: #38ac30;
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    background: #297c23;
  }
}
