.StudentPage {
  max-width: 800px;
  margin: 20px auto 0;
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.333);
  border-radius: 7px;
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .info {
    font-size: 20px;
    // margin-bottom: 50px;

    .infoItem {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      padding: 5px;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      span {
        margin-right: 10px;
      }

      .changeInput {
        width: 100%;

        input {
          padding: 5px 0;
          // box-sizing: border-box;
          // border-bottom: 0;
          // color: rgb(10, 124, 0);
          font-weight: 600;
          // background-color: rgb(245, 245, 245);
          // padding: 5px;
        }
      }

      .statusInputs {
        display: flex;
        margin-left: 50px;
        align-items: center;

        div {
          input {
            padding: 5px 0;
          }
          &:not(:last-of-type) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .buttons {
    margin: 40px auto 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
      font-weight: 600;
      padding: 10px 50px;

      &:not(:last-of-type){
        margin-bottom: 2px;
      }
    }
  }
}
