.Header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 5px;

  * {
    font-weight: 500;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .navLink {
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      min-height: 45px;
      font-size: 20px;
      background: #197de3;
      cursor: pointer;
      position: relative;
      transition: 0.2s;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &::before {
        transition: 0.2s;
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: #0524428b;
        position: absolute;
        bottom: -10px;
        left: 0;
      }

      &:hover:before {
        bottom: 0;
      }

      &:hover {
        background: #1568bd;
        padding: 4px 20px;
      }
    }

    .activeLink {
      background-color: #1568bd;
      padding: 4px 20px;

      &::before {
        transition: 0.2s;
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: #0524428b;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .auth {
    position: relative;

    a {
      text-decoration: none;
      background: #38ac30;
      padding: 10px 25px;
      color: #fff;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
        background: #297c23;
      }
    }

    button {
      font-size: 16px;
      padding: 5px 15px;
      border-radius: 5px;
    }

    .userInfo {
      // width: fit-content;
      text-align: end;
      position: absolute;
      right: 0;
      padding: 10px;
      box-shadow: 0 0 5px 0 rgba(184, 184, 184, 0.632);
      border-radius: 5px;

      div {
        padding: 5px 0;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .Header {
    font-size: 14px;

    .nav {
      .navLink {
        font-size: 16px;
        max-height: 20px;
        padding: 12px 20px;
        margin-bottom: 5px;
        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover {
          background: #1568bd;
          padding: 6px 20px;
        }
      }
    }
  }
}
