.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 0;

  & * {
    font-weight: 500;
  }

  .nav {
    display: flex;
    align-items: center;

    .navLink {
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      min-height: 45px;
      font-size: 20px;
      background: #197de3;
      cursor: pointer;
      position: relative;
      transition: 0.2s;
      overflow: hidden;

      &::before {
        transition: 0.2s;
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: #0524428b;
        position: absolute;
        bottom: -10px;
        left: 0;
      }

      &:hover:before {
        bottom: 0;
      }

      &:hover {
        background: #1568bd;
        padding: 4px 20px;
      }
    }

    .navLink:not(:last-child) {
      margin-right: 25px;
    }

    .activeLink {
      background-color: #1568bd;
      padding: 4px 20px;

      &::before {
        transition: 0.2s;
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: #0524428b;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .auth {
    a {
      text-decoration: none;
      background: #38ac30;
      padding: 10px 25px;
      color: #fff;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
        background: #297c23;
      }
    }
  }
}
